/* Style inspired by Initializr Styles, Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    color: @primaryTextColor;
    margin: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

/* Colors */
@import "palette.less";

header,
main,
footer {
    padding: 0 5vw;
}

header,
footer {
    background: @primaryColor;
    color: white;
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

header {
    border-bottom: 20px solid @darkPrimaryColor;
}

footer {
    border-top: 20px solid @darkPrimaryColor;
}

main>section:not(:empty) {
    margin-top: 10vh;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0.5ex;
}

#intro-text {
    padding: 2em;
}

.section-heading {
    background: @primaryColor;
    color: white;
    padding: 2ex;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0.5ex 0.5ex 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-shadow: 1px 1px 0px gray;
}

/* Table styling */

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

td {
    padding: 1ex;
    height: 4em;
}

th {
    padding: 1ex;
    background-color: @primaryColor;
    color: white;
    text-align: left;
    border-bottom: 1ex solid @darkPrimaryColor;
}

tr {
    background-color: white;
    -webkit-transition: all 150ms;
    -o-transition: all 150ms;
    transition: all 150ms;
}

#filter-row {
    background-color: @primaryColor;
}

.deleted {
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    -webkit-filter: opacity(0);
            filter: opacity(0);
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

tr:nth-child(2n+1) {
    background-color: @lightPrimaryColor;
}

#screenings-table tr:hover {
    -webkit-box-shadow: 0 0 5px #aaa;
            box-shadow: 0 0 5px #aaa;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
}



.buy i {
    background-color: @darkPrimaryColor;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 2px #aaa;
            box-shadow: 0 1px 2px #aaa;
    padding: 0.5em;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.buy i:hover {
    -webkit-box-shadow: 0 5px 5px #aaa;
            box-shadow: 0 5px 5px #aaa;
    background-color: @accentColor;
}

.cancel i {
    background-color: @darkPrimaryColor;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 2px #aaa;
            box-shadow: 0 1px 2px #aaa;
    padding: 0.5em;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.cancel i:hover {
    -webkit-box-shadow: 0 5px 5px #aaa;
            box-shadow: 0 5px 5px #aaa;
    background-color: orangered;
}

/* Table filter */

input {
    padding: 1em 2ex;
    border: 0;
    border-bottom: 3px solid @dividerColor;
    background-color: @lightPrimaryColor;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    border-radius: 3px;
}

input[type=search] {
    width: 80%;
}

input:hover {
    background-color: white;
    -webkit-box-shadow: 0 0 20px gray;
            box-shadow: 0 0 20px gray;
}

input:focus {
    border-bottom: 5px solid @darkPrimaryColor;
    background-color: white;
}

/* Mobile */

header,
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* Chrome Mobile fix: https://github.com/angular/material/issues/6841 */
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
}

.logo {
    height: 20vw;
    margin-bottom: 1vw;
    width: auto;
    float: left;
}

.logo-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.title {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10vw;
    text-shadow: none;
}

.title .accent-title {
    font-family: Arial, Helvetica, sans-serif;
    color: @accentColor;
    margin-right: -0.5ex;
}

nav a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: @darkPrimaryColor;
    -webkit-box-shadow: 0 0 10px @darkPrimaryColor;
            box-shadow: 0 0 10px @darkPrimaryColor;
    margin: 1ex;
    padding: 2ex;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    text-transform: uppercase;
    border-radius: 5px;
}

nav .material-icons {
    margin-right: 1ex;
    vertical-align: bottom;
    line-height: 28px;
}

nav a:hover {
    color: @dividerColor;
    -webkit-box-shadow: 0 0 5px @primaryTextColor;
            box-shadow: 0 0 5px @primaryTextColor;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

main article h1 {
    font-size: 2em;
}

.date {
    width: 30%;
}

.movie {
    width: 65%;
}

.year,
.seats {
    display: none;
}

.dialog img {
    float: none;
}

/* Wide screen */

@media only screen and (min-width: 900px) {

    header,
    nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }

    .title {
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 500%;
        /* http://markdotto.com/playground/3d-text/ */
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    }

    nav a {
        float: left;
        width: auto;
        margin: 0 1ex;
        padding: 2vw 1vw;
        border-radius: 5px 5px 0 0;
    }

    header {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

    .logo {
        height: 8em;
        width: auto;
        margin-top: 0;
    }

    nav {
        width: 40%;
        margin-top: 3.5em;
        margin-right: -2em;
        overflow: hidden;
    }

    main {
        width: 80vw;
        margin: auto;
    }

    .main article {
        margin: auto;
        width: 80%;
    }

    .date {
        width: 20%;
    }

    .movie {
        width: 55%;
    }

    .year,
    .seats {
        display: table-cell;
        width: 20%;
    }

    .dialog img {
        float: left;
    }
}

/* Even wider screen */

@media only screen and (min-width: 1400px) {
    main {
        width: 60vw;
        margin: auto;
    }
}

/* Helper classes */

.hidden {
    display: none !important;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

/* Dialog */

.overlay {
    opacity: 0;
    position: fixed;
    width: 0;
    height: 0;
    background: rgba(24, 32, 40, 0.94);
    z-index: 100;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay.overlay-visible {
    opacity: 1;
    width: 100vw;
    height: 100vh;
}

.dialog {
    opacity: 0;
    position: fixed;
    background-color: white;
    -webkit-box-shadow: 0px 8px 46px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.03);
            box-shadow: 0px 8px 46px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.03);
    width: 0;
    height: 0;
    z-index: 200;
    margin: 10vh -100vw;
    overflow: hidden;
    border-radius: 5px;
    -webkit-transition: opacity, margin 0.3s;
    -o-transition: opacity, margin 0.3s;
    transition: opacity, margin 0.3s;
}

.dialog.dialog-visible {
    opacity: 1;
    width: 90vw;
    height: 80vh;
    margin: 10vh 5vw;
}

.dialog header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 68px;
}

.dialog header .close {
    text-decoration: none;
    font-weight: bold;
    color: @lightPrimaryColor;
    margin-right: -3vw;
    margin-top: 1ex;
}

.dialog header .close:hover {
    color: white;
}

.dialog section {
    padding: 5vmin;
    height: calc(80vh - 10vmin - 88px);
    overflow-x: hidden;
    overflow-y: auto;
}

/* MultiStep dialog options */

.dialog section .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
}

.dialog-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    height: calc(100% + 10vmin);
    margin: -7vmin;
    -webkit-transition: all 150ms;
    -o-transition: all 150ms;
    transition: all 150ms;
}

.dialog-btn:empty {
    display: none;
}

.dialog-btn:hover {
    cursor: pointer;
}

.dialog-btn:hover i {
    background: @lightPrimaryColor;
    -webkit-box-shadow: 0 2px 5px #aaa;
            box-shadow: 0 2px 5px #aaa;
}

.dialog-btn i {
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    border-radius: 50%;
    padding: 1vw;
}

/* Seating plan */

.row-num {
    position: relative;
    top: -2vmin;
    color: @primaryColor;
    font-size: 4vmin;
    font-weight: bold;
}

.seat-screen {
    width: 66vmin;
    fill: @lightPrimaryColor;
    stroke: @darkPrimaryColor;
}

.seat-icon {
    width: 6vmin;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    margin: 0 -0.5vmin;
}

.seat-icon-unused {
    fill: @primaryColor;
}

.seat-icon-used {
    opacity: 0.2;
}

.seat-icon-unused:hover {
    fill: @darkPrimaryColor;
}

.dialog label .seat-icon-unused {
    cursor: pointer;
}

.dialog input[type="checkbox"] {
    display: none;
}

input:checked+label .seat-icon-unused {
    fill: @accentColor;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: drop-shadow(2px 2px 2px @secondaryTextColor);
            filter: drop-shadow(2px 2px 2px @secondaryTextColor)
}

/* Sticky scroll button */

#scroll-button {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    width: 3ex;
    height: 3ex;
    z-index: 99;
    border: none;
    outline: none;
    background-color: @primaryColor;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    -webkit-box-shadow: 3px 3px 2px @lightPrimaryColor;
            box-shadow: 3px 3px 2px @lightPrimaryColor;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    opacity: 0.5;
    -webkit-transition: opacity 200ms, bottom 1s;
    -o-transition: opacity 200ms, bottom 1s;
    transition: opacity 200ms, bottom 1s;
}

#scroll-button:hover {
    opacity: 1;
    -webkit-box-shadow: 5px 5px 2px @lightPrimaryColor;
            box-shadow: 5px 5px 2px @lightPrimaryColor;
}

#scroll-button.scroll-button-hidden {
    opacity: 0;
    bottom: -20vh;
}

/* Print styles */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        border: none !important;
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
}

/* Material icons styles */

/* Rules for sizing the icon. */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}
